.form-control{
    color: white;
    background: transparent;
    font-weight: 570;
  }
  label{
    color: white;
    font-weight: 600;
  }
  hr{
    width: 50%;
    height: 2px;
    background-color: green;
  }
  .heading{
    color: white;
    text-align: center;
    padding-top: 2%;
  }